
.home-layout section {
	background:#fff;

  h2, h3, h4, h5 {
    text-align:center;
  }

  h2.section-title {
    font-family:@font-title;
  }

  .section-header-line {
    display: block;
    clear: both;
    width: 100px;
    height: 2px;
    background: rgba(0,0,0,.6);
    margin: 20px auto;
    border:none;

  }

  p {
    font-size:22px;
    line-height:1.5em;
    max-width:730px;
    padding:15px 0;
    margin:0 auto;

  }

  .btn.btn-large.md-button {
    height:auto;
  }


}

section.bg-gray {
  background:#f6f6f6;
}

section.bg-blue {
  background:@bw-blue;

  h1, h2, h3, h4, h5, p {
    color:@light;

  }

  .section-header-line {
    background: rgba(255,255,255,1);

  }


}


section#intro {
  .background-image-holder {
    border:none;
  }
  .slides {

    li {
      position:relative;

    }

    li.beyond-words-cover-slide {
      .bw-exhibit {
        text-align:center;
        width:70%;
        bottom:220px;

        img {
          max-width:520px;
          width:90%;
          display:block;
          margin:15px auto;
        }

        hr {
          margin:35px auto 20px;
          height:3px;
        }


      }
    }

    .image-bg-slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
    	filter: blur(1px) sepia(10%) brightness(0.99);
    	-webkit-filter: blur(1px) sepia(10%) brightness(0.99); /* Prefixed CSS3 blur filters */
    	-moz-filter: blur(1px);
    	-o-filter: blur(1px);
    	-ms-filter: blur(1px);
      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1'); /* IE lte 9 */

    }

  }
  .custom-navigation {
    .flex-next, .flex-prev {
      position: absolute;
      right: 15px;
      top: 50%;
      z-index: 2;

      i {
        &:before {
          font-size: 62px;

        }

      }

    }
    .flex-prev {
      right: auto;
      left: 15px;
    }
  }
  .slider-controls{
    z-index: 1;
  }

  .image-bg-slide {
    z-index:1;
  }

  .bw-exhibit {
    display:inline-block;
    vertical-align: top;
    width:36%;
    margin:20px 2% 30px;
    text-align:left;
    position:absolute;
    z-index:99;
    bottom:160px;
    left:10%;
    opacity:1;
    visibility:visible;

    h3 {
      font-family:@font-reading;
      font-size:42px;
      line-height:1.1em;
      margin:5px auto;
      text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 5px;
      text-align:left;

    }

    h4 {
      font-family:@font-title;
      font-size:24px;
      line-height:1.3em;
      font-weight:600;
      color:rgba(255,255,255,0.9);
      margin:15px auto 5px;
      text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 5px;
      text-align:left;

    }

    h5 {
      font-family:@font-label;
      font-size:16px;
      color:rgba(255,255,255,0.8);
      line-height:1.3em;
      margin:5px auto;
      text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 5px;
      text-align:left;

    }

    hr {
      background:@light;
      color:@light;
      max-width:120px;
      margin:10px 0;
      height:2px;
      border:none !important;
      text-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

    }

    .learn-more-button {
      background:@md-primary-900;
      padding:5px 35px;
      margin:15px 0;
      border:2px solid @md-primary-900;

      &:hover {
        border:2px solid @light;
        background: transparent;


      }

      span {
        font-family:@font-label;
        text-trasnform:uppercase;
        font-size:14px;
        font-weight:600;

      }

    }

  }

  .scroll-down-helper {
    position:absolute;
    bottom:30px;
    right:40px;
    z-index:10;
    width:400px;
    text-align:right;

    p {
      display:inline-block;
      vertical-align:top;
      color:@light;
      opacity:0.55;
      font-size:16px;
      line-height:1.3em;
      text-align:right;

    }

    .mdi {
      display:inline-block;
      vertical-align:top;
      opacity:0.6;
      color:@light;
      padding:15px 5px;
      font-size:22px;
      display:none;

    }

  }

}


section#overview{

  background:#eee;
  text-align:center;

  .overview-inner {
    margin:0 auto;
    padding:0;
    max-width:730px;

  }

  .drop-cap{
    margin: 20px 30px 15px -35px;
    width:22%;
    min-width:90px;
    max-width:160px;

  }

  .curatorial-team-row {

    h3 {
      font-size:28px;
    }

    p {
      text-align:center;
      padding:5px 0;
    }

  }


}

section#narrative {

    hr {
      background:@md-primary-50;
      max-width:120px;
      margin:15px auto;
      height:4px;
      border:none !important;

    }

}

section#twitter {
  background: @md-primary-900;
  text-align:center;

  .twitter-header-link {
    text-align:center;
    display:block;
    width:100%;
    padding:20px 0 60px;

    i, h2 {
      display:inline-block;
      vertical-align: top;
      color:#f6f6f6;
    }

    h2 {
      font-size:36px;
      font-family:@font-title;
      margin:0;
      padding:0;

    }

    i {
      &:before {
        font-size:42px;

      }
    }

  }

  h4{
    color: @light;
    display:none;
  }

  .bw-tweet-wrapper {
    padding: 10px;
    margin:10px 0.5%;
    width:32%;
    min-width:290px;
    display:inline-block;
    vertical-align:top;
    text-align:left;

    > div {
      min-height:128px;
    }

    .avatar {
      border-radius: 60px;
      float: left;
      margin-right: 15px;
			display:inline-block;
			vertical-align: top;

    }

    .tweet-text-html{
      font-family:@font-light;

    }

  }

}

section#catalog {
  background:#f6f6f6;
  text-align:center;

  .catalog-image {
    float:right;
  }

  .uchicago-press-button {
    margin:30px auto;
  }

}

section#events {
  background:#eee;
}
li.event-item {
  padding: 10px 10px 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  align-items: center;
  margin-bottom: 20px;
  background:@light;

  .event-calendar-date {
    border-left: 10px solid @md-primary-500;
    text-align: center;
    padding-left: 20px;
    margin-right: 20px;
    display:inline-block;
    vertical-align: top;
    width:10%;

    h6.event-month {
      margin-bottom: -3px;
      font-size: 0.8em;
    }
    h3.event-day {
      margin-bottom: -9px;
      font-size: 3.5em;
    }
    h6.event-weekday {
      margin: 0;
      font-size: .9em;
    }
  }
  .event-info {
    display:inline-block;
    vertical-align: top;
    width:87%;
    text-overflow:ellipsis;
    text-align:left;
    margin: 5px 0px 5px 0px;

    h3.event-title {
      padding:0;
			margin:0;
      font-size:26px;
			line-height:1.3em;
      color:#444;
      font-weight:300;
      text-align:left;
			display:inline-block;
			font-family:@font-reading;
    }

		a{

			&:hover {

				h3.event-title {
			    //border-bottom: 0px solid @md-primary-light;
			    //box-shadow: inset 0 0px 0 @md-primary-light;
					color:#000;

				}

				.mdi-open-in-new {
					color:@md-primary-900;

				}

			}

			h3.event-title {
		    //border-bottom: 1px solid @md-primary-light;
		    //box-shadow: inset 0 -2px 0 @md-primary-light;
				.transition(all 100ms ease-out);
			}

			.mdi-open-in-new {
				color:@md-primary;
				.transition(all 100ms ease-out);
				padding:0 10px 5px;

				&:before {
					font-size:20px;
				}

			}


		}
  }
}

.add-to-calendar {
	margin:15px 0 5px;
	opacity:0.9;
	&:hover {
		opacity:1;
	}

	.a2cldr-btn, .a2cldr-list {
		display:inline-block;
		vertical-align: top;
	}

	.a2cldr-btn {
		text-transform:uppercase;
		font-family:@font-label;
		font-size:12px;
		font-weight:bold;
		padding-right: 10px;

	}

	.a2cldr-list {
		.a2cldr-item {
			display:inline-block;
			vertical-align: top;
			padding-right:10px;
			font-size:14px;
		}
	}

}

section#plan-your-trip {

  ul {
    font-size:18px;
    line-height:1.5em;
    max-width:690px;
    padding:0px 0 15px;
    margin:0 auto;

    li {
      margin:0;
      padding:5px 0;
    }

  }

}

section#symposium {
  background:@md-primary-900;
  color:@light;
  text-align:center;

  p, h2,h3,h4,h5 {
    color:@light;

  }

  .program-tabs {
    width:90%;
    margin:20px auto;
    max-width:990px;
    text-align:left;

    h2,h3,h4,h5,p,ul,li,a {
      color:@dark;
      text-align:left;
      max-width:720px;
      margin: 0 auto;

    }

    h5 {
      margin:0 auto;
      padding:25px 0 5px;
    }

    p {
      font-size:16px;
      max-width:700px;
    }

  }

  .btn-large.registration-button {
    margin:30px auto;
    border:2px solid #eee;
    color:#eee;
    display:inline-block;

    span {
      color:#eee;

    }

  }

}

section#lenders {
  background:@md-primary-900;
  color:@light;
  text-align:center;

  h2 {
    padding-bottom:60px;
  }

  h2, a {
    color:@light;
  }

	.lenders-masonry {
		margin:0 auto;
	}

  a {
    font-size:22px;
    font-family:@font-reading;
    padding:30px;
    display:inline-block;
    vertical-align: top;
		width:280px;
		margin:10px 1%;
		line-height:1.4em;
		opacity:0.9;
		//text-shadow:0px 0px 6px #222;
		border:3px solid rgba(255,255,255,0.1);
		border-radius:2px;

		/*
		&::after {
			width:50%;
			height:3px;
			background:rgba(255,255,255,0.8);


		}
		*/

		hr {
			width:66px;
			background:rgba(255,255,255,0.8);
			height:3px;
			margin:25px auto 0;
			border:none;
			outline:none;
			display:block;
		}

    &:hover {
      color:#eee;
			opacity:1;
			//text-shadow:0px 0px 12px #222;
      //text-decoration:underline;
			background:rgba(0,0,0,0.05);
			border:3px solid rgba(255,255,255,0.8);
    }

  }


}

.dialog-modal {
	overflow-y:scroll !important;
	padding-bottom:100px;

	div div div div {
		max-height:none !important;
	}

	.text-field {
		vertical-align: top;
		margin:5px 1%;
		width:46% !important;

		&.name-field {
			width:30% !important;

		}

	}

	.checkbox-label-error-text {
		display:block;
		padding:0 0 15px;
		font-size:12px;
		color:rgb(244, 67, 54);
	}

	.checkbox-field {
		label{
			font-family:@font-label !important;
			color:#444 !important;
		}

	}

}
