.grid-thumbnail {
	margin-top: 15px;
	margin-bottom: 15px;
}
.ipad-content {
	background: #455266;
	padding-top: 0px;
}
.slick-slide .image {
    padding: 10% 5%;
}
.slick-slide img {
    display: block;
    width: 100%;
}
.clear {
	float: none;
}