footer
{
  background-color: #222;
  color: white;
  box-shadow:0px 0px 6px #111;

  &.bg-dark {
    background-color: #222;

  }

  .logo {
    margin:0 auto;
    text-align: center;
    max-width:390px;
    width:90%;
  }

  .neh-logo {
    width:90%;
    max-width:180px;
    margin:10px auto 45px;
  }


  .footer-nav {
    padding:30px 0 50px;
    a {
      font-family:@font-label !important;
      height:auto !important;
      margin:0 2px !important;
    }
  }

  .social-list {
    padding:15px 0 40px;
    li {
      display:inline-block;
      vertical-align: top;
      margin:0px;
      a {
        display:block;
        border-radius:100px;

        .mdi {
          vertical-align: middle;
          color:@light;
          &:before {
            font-size:36px;
          }
        }
        &:hover {
          background:@light;
          color:@md-primary;
          span, a {
            color:@md-primary;

          }
        }
      }
    }

  }

}

.neh-sponsored-by-label {
  display:block;

}

.copyright-information {
  display:block;
  max-width:600px;
  margin:0 auto;
}
