
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: @md-primary-dark;

  .logo-image {
    width: 166px;
  }

  .container.close-navbar {
    width: 100%;
  }

  .logo {
    padding: 10px 5px !important;
    vertical-align: top !important;
    span {
      font-family: @font-logo !important;
      font-weight: 900 !important;
      font-size: 19px !important;
      color: @text-dark;
      text-transform: none !important;

    }
  }

  a[type="button"], button {
    font-family: @font-label !important;
  }

  ul.menu {
    margin: 0;
    padding: 0;
		> li {
      margin: 0;
      padding: 0;

    }
  }

  .search-module {
    border-right: 1px solid @divider;
    border-right: none;
  }

  .toggle-left-menu {
    i {
      margin-top: 10px;
    }
  }

  .navbar-nav.navbar-right:last-child {
    margin: 0;
  }

  .module, .module.widget-handle {
    padding: 0;
  }
  .nav-open {
    background: #fff;
  }
  .nav-bar {
    border-bottom: none !important;
  }

  .module.widget-handle {
    border-left: 1px solid @divider-transparent;
  }

  .search-module {
    border-right: none;
  }

  .logo{
    &.logo-dark{
      display: none !important;
    }
  }

  .logo, a[type="button"] {
    color: @light !important;
    span {
      color: @light !important;

    }
  }

  nav.bg-dark {
    background: transparent;

  }

  .site-title {
    background: transparent;
    color: @light;
    &:hover {
    }
  }
  .nav li.open > a {
    background: @md-primary;
    color: @light;
  }
  a.md-button {
    //color:#272727 !important;
    color: @light;
    &:hover, &:focus {
      background: @md-primary;
      color: @light;
      span {
        color: @light;
      }
    }
  }
  a.md-button span {
    color: @light;
  }

  .dropdown-menu {
    a.md-button {
      color: @dark;

      i, span {
        color: @dark;
      }
      &:hover {
        color: @light;
        i, span {
          color: @light;

        }

      }
    }
  }

  ul.menu.icon-menu {
    a.md-button {
      &:hover {
        i {
          color: @light;
        }
      }
    }
  }

}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;

  li {
    margin: 0;
    padding: 0;

    &.divider {
      margin: 0;
      padding: 0;

    }

  }

}

.headroom {
  .transition(transform 00ms linear);
}

.headroom--pinned {
  .transition(transform 200ms linear);
  transform: translateY(0%) translateZ(0);
}

.headroom--unpinned {
  transform: translateY(-100%) translateZ(0);
}

.headroom--not-top{
  .logo {
    &.logo-light {
      display: inline-block !important;
    }
    &.logo-dark {
      display: none !important;
    }
  }
}

.home-layout, .master-layout {

  header.headroom--top {
    background: transparent;
    box-shadow: none;
    color: @light;
    border-bottom: 1px solid @divider-transparent;


  }
}

.catalog-layout {

  header.headroom--top {
		.logo {
	    &.logo-dark {
	      display: inline-block !important;
	    }
	    &.logo-light {
	      display: none !important;
	    }


		}
	}


}

.leftnav-upper {
  height: 140px;
  width: 100%;
  background: @bw-blue;
  margin-bottom: 10px;

}

.leftnav {
  a {
    font-family: @font-label !important;
    text-transform: uppercase;
    padding: 10px 5px !important;

  }

}



.catalog-item {

	&:hover {
		.dropdown-panel {
			display:block;
		}
	}


	.dropdown-panel {
		position:absolute;
		top:56px;
		background:@dark-theme-dropdown;
		display:none;
		box-shadow:0px 3px 3px @dark-theme-toolbar;

		a {
			border-bottom:@dark-theme-card;
			width:100% !important;
		}


	}

}
