@media (max-width: 800px) {

  .navbar-collapse {
    display:none;


  }

}


@media screen and (max-width: 768px) {
  .cover.fullscreen, .cover.fullscreen .slides li {
    min-height: 400px;
  }
  .bw-exhibit {
    display: none;
    &.flex-active {
      display: block;
    }
  }
}
