header .navbar-header .right-drawer-toggle{
    display: none !important;
}
@media screen and (max-width: 1215px) {

  header .navbar-collapse.collapse.module-group.right {
    display:none !important;
  }

  header .navbar-header .right-drawer-toggle{
    display: inline-block !important;
    float: right;
  }

  .navbar-header {
    float: none;
  }

}

@media screen and (max-width: 1000px) {
	.page-ipad .ipad-container--spread-view {
		padding:130px 0px;

	}

	.page-ipad .ipad-container--single-view {
		.single-view-slider {
			height:720px;
			.slick-slide {
				.image {
					overflow:hidden;
					height:900px;
					margin-top:60px;
					background:transparent;

					> div {
						background-color:transparent !important;
					}

					img {
						height:720px;
						width:auto !important;
						background:transparent;
					}

				}

			}

		}

		.coaching-text {
			padding-top:0px;
		}


	}

	.ipad-toolbar {
		//padding:50px 0 10px !important;
	}

}

@media screen and (max-width: 768px) {

  .cover.fullscreen, .cover.fullscreen .slides li {
    min-height: 400px;
  }


  .bw-exhibit {
    display: none;

    &.flex-active {
      display: block;
    }

  }

  .home-layout section p {
    font-size:18px;
    line-height:1.5em;
    width:90%;
  }

  section#intro .bw-exhibit {
    bottom:auto;
    top:90px;
    text-align:center;
    width:80%;
    margin:0 auto;

    h3 {
      font-size:26px;
      text-align:center;

    }

    hr {
      margin:15px auto;
    }

    h4 {
      font-size:18px;
      text-align:center;
    }

    h5 {
      font-size:14px;
      text-align:center;
    }

  }



  section#overview {
    .drop-cap {
      margin:20px 30px 15px 10px !important;

    }
  }

  .narrative-exhibit {
    padding-top:30px;
  }

  section#catalog .catalog-image {
    float:none;
    display:block;
    padding:0 0 0 20px;
    margin:20px auto;
    width:90%;
    max-width:300px;
  }

  section#plan-your-trip ul {
    width:90%;
  }


}
@media screen and (max-width: 719px) {
	.header-lower-catalog-info .toggle-view-mode-buttons {
		display:none;
	}

	.object-details {
		text-align:center;
	}

	.object-details .object-detail-thumbnail-wrap {
		width:100%;
		padding:0;
		text-align:center;
		margin:0 auto 30px;
		max-width:400px;

		img {
			margin:0 auto;
		}
	}
	.object-details .object-detail-text-wrap {
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:left;
	}

}
@media screen and (max-width: 690px) {
	section#lenders a {
		width:45%;
	}
}
@media screen and (max-width: 620px) {
	section#twitter .bw-tweet-wrapper {
		width:95%;
		margin:0px auto;

	}
	section#symposium .program-tabs {
		width:100%;
	}

  .program-tabs {
		> div:nth-child(3) {
      padding:40px 10px !important;
    }
  }

}

@media screen and (max-width: 470px) {
	section#lenders a {
		width:95%;
		margin:10px 1% 10px 3%;
	}
	.catalog-layout .object-details .object-details-inner {
		padding:20px 30px;
	}
	.catalog-layout .object-details .object-details-inner h2 {
		font-size:22px;
	}
	.objects-list .slick-slider {
		display:none;
	}
}

@media screen and (max-width: 410px) {

  .scroll-down-helper {
    display:none;
  }

  section#events ul.events-list li.event-item .event-info h3.event-title {
    font-size:18px;
  }

  .custom-navigation {
    display:none;

  }


}
